.primary-shadow {
    box-shadow: 0px 3.5px 5.5px 0px #bababa38;
}

.overflow-style-none {
    scrollbar-width: none;
}

/* Common Word break class */
.word-break {
    word-break: break-word;
}

/* Primary Scrollbar */
.primary-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.primary-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.primary-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A6A6A6;
    border-radius: 10px;
}

/* Prime React dialog box */
.sw-dialog-box {
    max-width: 600px !important;
    width: 600px !important;
    border-radius: 16px !important;
}

.sw-dialog-box .p-dialog-header {
    @apply dark:!bg-dark-100 !text-gray-800 dark:!text-white;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
}

.sw-dialog-box .p-dialog-content:last-of-type {
    border-bottom-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

.sw-dialog-box .p-dialog-header .p-dialog-header-icon {
    @apply dark:!text-white;
}

.sw-dialog-box .p-dialog-header .p-dialog-header-icon:enabled:hover {
    @apply dark:!bg-black;
}

.sw-dialog-box .p-dialog-content {
    @apply dark:!bg-dark-100;
}

/* Prime React Input */
.sw-input input {
    @apply bg-white dark:!bg-dark-50 dark:border-gray-600 dark:text-gray-300 !rounded-[10px];
}