.p-component {
    font-family: "Roboto", sans-serif !important;
}

.sw-knob svg .p-knob-range {
    stroke: #ffffff !important;
}

.sw-knob svg .p-knob-value {
    stroke: #06371A !important;
}

.sw-knob svg .p-knob-text {
    fill: #06371A !important;
    font-weight: 600 !important;
}

/* Prime React Input style */
.p-inputtext {
    padding: 7px 18px !important;
    font-family: "Roboto", sans-serif !important;
    @apply bg-white dark:!bg-dark-600 dark:border-dark-50 dark:text-gray-300 !rounded-[10px];
}

.p-inputtext:enabled:hover {
    border-color: #108F43 !important;
}

.p-inputtext:enabled:focus {
    box-shadow: none !important;
    border-color: #108F43 !important;
}

/* Prime React Drop Down */
.p-dropdown {
    border-radius: 10px !important;
    @apply !bg-white dark:!bg-dark-600 dark:!border-dark-50 dark:!text-gray-300;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #108F43 !important;
}

.p-dropdown:not(.p-disabled).p-focus {
    border-color: #108F43 !important;
    box-shadow: none !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #f2fff2 !important;
    color: #108F43 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 10px 15px !important;
}

/* Prime React Sidebar */
.p-sidebar-content::-webkit-scrollbar {
    width: 5px;
}

.p-sidebar-content::-webkit-scrollbar-track {
    @apply dark:!bg-dark-500;
    background: #f1f1f1 !important;
    border-radius: 10px !important;
}

.p-sidebar-content::-webkit-scrollbar-thumb {
    @apply dark:!bg-dark-100;
    background-color: #A6A6A6 !important;
    border-radius: 10px !important;
}

.p-sidebar-header {
    display: none !important;
}

/* MUI emotion style over wright */
.target-pie-custom-class .css-b9rdri-MuiGauge-referenceArc {
    fill: #108f43 !important;
}

.target-pie-custom-class .css-p1sr87-MuiGauge-referenceArc {
    @apply !fill-gray-300 dark:!fill-gray-300;
}

.total-chart-card .css-ewjtro-MuiBarElement-root{
    fill: #6E22FA !important;
}

/* Prime React Calendar */
.p-datepicker table td {
    padding: 4px !important;
}

.p-datepicker table td > span {
    width: 2rem !important;
    height: 2rem !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
    color: #ffffff !important;
}